/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Settings */

body {
	font-family: 'Lato', Oxygen, Arial, sans-serif;
}

h1 {
	font-size: 28px;
	font-weight: 600;
}

h2 {
	font-size: 24px;
	font-weight: 600;
}

h3 {
	font-size: 20px;
	font-weight: 400;
}

.picXOfY {
	text-align: center;
}

/* Available Points */
#availablePoints {
	text-align: center;
}

/* Buttons */

#buttonGroup {
   float: right;
   position: relative;
   right: 17%;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #5b97bf;
   background: -webkit-gradient(linear, left top, left bottom, from(#2f6182), to(#5b97bf));
   background: -webkit-linear-gradient(top, #2f6182, #5b97bf);
   background: -moz-linear-gradient(top, #2f6182, #5b97bf);
   background: -ms-linear-gradient(top, #2f6182, #5b97bf);
   background: -o-linear-gradient(top, #2f6182, #5b97bf);
   padding: 7.5px 15px;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 22px;
   font-family: 'Lato', Oxygen, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   min-width: 250px;
   margin-bottom: 20px;
   }

.button:nth-child(1) {
	margin-top: 30px;
}
.button:hover {
   border-top-color: #6bbff7;
   background: #6bbff7;
   color: #ffffff;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.disabled,
.disabled:hover {
   border-top-color: #1b435e;
   background: #1b435e;
}

/* Clear Float */
.clearFloat {
	clear: both;
}

/* Image */

#albumArt {
	display: none;
}

/* Image Container */

#outerContainer {
/*    background-color: #ccc;  */       
    display: table;
    float: left;
    height: 400px;
    position: relative;
    left: 35%;
    width: 400px;
}

#outerContainer .imageContainer {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#outerContainer .imageContainer img {
    max-height: 400px;        
    max-width: 400px;
}

.imageContainer {
	max-height: 400px;
	max-width: 400px;
}

/* Player Name */

.playName {
	text-align: center;
}

/* Points Meter */

.meter { 
	height: 20px;
	width: 380px;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	margin-left: 35%;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}

/* Round */

.round {
	margin-left: 60%;
}

/* Score */

.score {
	float: left;
	margin-left: 40%;
}

